body {
  margin: 20px;
}

nav {
  background-image: url(../);
}
main {
  width: max-content;
  margin-inline: auto;
}

input {
  width: 350px;
}

input,
button {
  min-height: 30px;
}
button {
  min-height: 36px;
}

.line {
  text-decoration: line-through;
}
